.shop-header{
	height:38px;
	line-height:38px;
	border-bottom:1px solid #3ebb8d;
	font-size:12px;
}
.shop-header .return-index{
	float:left;
}
.shop-header .return-index a{
	color:#313131;
	display:block;
}
.shop-header .return-index img{
	vertical-align:-5px;
	margin-right:7px;
}
.shop-header .menu-login{
	float:right;
	height:38px;
	line-height:38px;
}
.shop-header .menu-login .nav_ul{
	float:left;
}
.shop-header .menu-login .nav_ul li{
	float:left;
	margin-right:40px;
	line-height:38px;
}
.shop-header .menu-login .nav_ul li a{
	display:block;
	color:#313131;
}
.shop-header .menu-login .user_operation_ul li{
	float:left;
	line-height:38px;
}
.shop-header .menu-login .user_operation_ul li.line{
	margin:0 15px;
}
.user_operation_ul a{
	color:#313131;
}